<article style="font-weight: 600; margin-top: 30px;"> 
  <h2 style="font-size: 22.5pt;">Datos del cliente</h2>
  <ul style="padding: 0; margin: 0; list-style-type: none;">
    <li>{{customerName}}</li>
    <li><a href="mailto:{{customerEmail}}">{{customerEmail}}</a></li>
    <li><a href="tel:+{{customerPhonePrefix}}{{customerPhone}}">{{customerPhone}}</a></li>
    <li style="margin-bottom: 20px">DNI: {{customerNif}} </li>
    <li>Código postal: {{customerPostalCode}}</li>
    <li>Dirección: {{customerAddress}}</li>
  </ul>
</article>